.paragraph-text-and-image {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  &__field-title {
    flex: 0 0 100%;
    width: 100%;
  }

  // IMAGE LEFT

  &--image-size-4-12-left {
    .paragraph-text-and-image__field-image {
      flex: 0 0 33%;
    }

    .paragraph-text-and-image__field-body {
      flex: 1;
    }
  }

  &--image-size-6-12-left {
    .paragraph-text-and-image__field-image {
      flex: 0 0 50%;
    }

    .paragraph-text-and-image__field-body {
      flex: 1;
    }
  }

  &--image-size-8-12-left {
    .paragraph-text-and-image__field-image {
      flex: 0 0 66%;
    }

    .paragraph-text-and-image__field-body {
      flex: 1;
    }
  }

  // IMAGE RIGHT

  &--image-size-4-12-right {

    & > div {
      &:nth-child(2){
        order: 3;
      }

      &:nth-child(3){
        order: 2;
      }
    }

    .paragraph-text-and-image__field-image {
      flex: 0 0 34%;
    }

    .paragraph-text-and-image__field-body {
      flex: 1;
    }
  }

  &--image-size-6-12-right {

    & > div {
      &:nth-child(2){
        order: 3;
      }

      &:nth-child(3){
        order: 2;
      }
    }

    .paragraph-text-and-image__field-image {
      flex: 0 0 50%;
    }

    .paragraph-text-and-image__field-body {
      flex: 1;
    }
  }

  &--image-size-8-12-right {

    & > div {
      &:nth-child(2){
        order: 3;
      }

      &:nth-child(3){
        order: 2;
      }
    }

    .paragraph-text-and-image__field-image {
      flex: 0 0 66%;
    }

    .paragraph-text-and-image__field-body {
      flex: 1;
    }
  }
}
