{% set bem_block = 'app' %}


<div class="{{ bem_block }}">

  {% include '@kenny/include/header.html.twig' %}

  <main class="{{ bem_block }}__content main-layout" role="main">
    <div class="main-layout__inner">
      {{ page.content }}
      {{ page.sidebar }}
    </div>
  </main>

  {% include '@kenny/include/footer.html.twig' %}

</div>{# /.layout-container #}
