{% set bem_block = 'app' %}
<div class="{{ bem_block }}">
  {% include '@kenny/include/header.html.twig' with {'show_klog_hero' : false} %}
  {% include '@kenny/include/pages/about.html.twig' %}
  {% include '@kenny/include/footer.html.twig' %}
</div>


