@import "variables";
html {
  font-size: 16px;
}

body {
  font-family: $font-family;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dialog-off-canvas-main-canvas,
.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page__main {
  flex-grow: 1;
}

.page__footer {

  padding: 24px $gutter-sm;
}

.container {
  width: 100%;
  max-width: $container-max + $gutter-sm * 2;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter-sm;
  padding-right: $gutter-sm;
}

