// Colors

$color-primary: #FF5300;
$color-primary-light: #FFF7F4;

$color-text: #7B7B78;
$color-text-heading: #373737;

$color-light: #FFF;

// Fonts

$font-family: 'Poppins', sans-serif;

// Breakpoints

$spacing: 8px;
$gutter: $spacing * 2;
$gutter-sm: $spacing * 3;

$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1256px;

$container-max: 1170px;
