@import "../../base/variables";
@import "../../base/mixins";
.main-layout {
  max-width: calc($container-max + 2rem);
  margin: 0 auto;
  position: relative;
  z-index: 15;

  .tabs, .primary {
    display: inline-flex;
    gap: 1.5rem;
    @include resetLi;

    li {
      border: 1px solid cadetblue;
      padding: 0.5rem;
      border-radius: 15px;
    }
  }

  &__inner {
    padding: 2rem 1rem;
    background: white;
    box-shadow: 0 0 15px 5px rgba(black, 0.05);
    margin-top: -100px;
  }
}
