@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dialog-off-canvas-main-canvas,
.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  padding: 24px 24px;
}

.container {
  width: 100%;
  max-width: 1218px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7B7B78;
}

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.25;
  font-weight: 600;
  color: #373737;
}

h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 2.5rem;
}

h3, .h3 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.header {
  position: relative;
}
.header__top {
  position: relative;
  z-index: 20;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}
.header .menu-item {
  display: inline-block;
  margin-right: 1.5rem;
}
.header .menu-item a {
  color: #1b5e20;
  text-decoration: none;
}

.footer {
  background: #bdc3c7;
  opacity: 80%;
}
.footer__content {
  max-width: 1170px;
  margin: 0 auto;
}
.footer .menu--footer {
  padding: 1rem;
}
.footer .menu--footer .menu {
  display: flex;
  justify-content: center;
}
.footer .menu--footer .menu-item {
  display: inline-flex;
  margin-right: 2rem;
}
.footer .menu--footer .menu-item a {
  text-transform: uppercase;
  font-weight: bold;
  color: red;
  opacity: 80%;
  font-size: 1rem;
}
.footer .menu--footer .menu-item a:hover {
  color: #1b5e20;
}
.footer-social__items {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-social__item {
  margin-right: 1.5rem;
}

.klog-hero {
  position: relative;
  z-index: 0;
  margin-top: -36px;
  height: 40rem;
  overflow: hidden;
}
.klog-hero__content {
  position: relative;
  z-index: 10;
  max-width: 1170px;
  margin: 0 auto;
  top: 150px;
}
.klog-hero__title {
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  max-width: 600px;
  font-weight: bold;
}
.klog-hero__subtitle {
  max-width: 600px;
}
.klog-hero__subtitle p {
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 0 rgba(44, 62, 80, 0.1);
}
.klog-hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.klog-hero::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(15, 155, 15, 0.15));
  background-repeat: no-repeat;
}

.block-menu .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.block-system-branding-block .site-name {
  font-size: 1.5rem;
}
.block-system-branding-block .site-name a {
  color: #63f38c;
  text-decoration: none;
}