@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dialog-off-canvas-main-canvas,
.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page__main {
  flex-grow: 1;
}

.page__footer {
  padding: 24px 24px;
}

.container {
  width: 100%;
  max-width: 1218px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7B7B78;
}

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
  line-height: 1.25;
  font-weight: 600;
  color: #373737;
}

h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 2.5rem;
}

h3, .h3 {
  font-size: 2rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

.block-menu .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.block-system-branding-block .site-name {
  font-size: 1.5rem;
}
.block-system-branding-block .site-name a {
  color: #63f38c;
  text-decoration: none;
}

.klog-hero {
  position: relative;
  z-index: 0;
  margin-top: -36px;
  height: 40rem;
  padding-bottom: 100px;
  overflow: hidden;
}
.klog-hero__content {
  position: relative;
  z-index: 10;
  max-width: 1170px;
  margin: 0 auto;
  top: 150px;
}
.klog-hero__title {
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  max-width: 600px;
  font-weight: bold;
}
.klog-hero__subtitle {
  max-width: 600px;
}
.klog-hero__subtitle p {
  font-size: 1.5rem;
  color: white;
  text-shadow: 1px 1px 0 rgba(44, 62, 80, 0.1);
}
.klog-hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.klog-hero__video {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.klog-hero::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(15, 155, 15, 0.15));
  background-repeat: no-repeat;
}
.klog-hero__tags {
  margin-bottom: 1rem;
  display: flex;
  gap: 0.5rem;
}
.klog-hero__tag {
  display: block;
  background: rgba(0, 0, 255, 0.3);
  color: white;
  padding: 4px 1rem;
}
.klog-hero__tag:hover {
  background: rgba(0, 128, 0, 0.3);
}

.footer {
  background: rgba(189, 195, 199, 0.8);
  position: relative;
  z-index: 20;
}
.footer__content {
  max-width: 1170px;
  margin: 0 auto;
}
.footer .menu--footer {
  padding: 1rem;
}
.footer .menu--footer .menu {
  display: flex;
  justify-content: center;
}
.footer .menu--footer .menu-item {
  display: inline-flex;
  margin-right: 2rem;
}
.footer .menu--footer .menu-item a {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  opacity: 80%;
  font-size: 1rem;
}
.footer .menu--footer .menu-item a:hover {
  color: #1b5e20;
}
.footer__up {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.footer__up:before {
  content: "\f368";
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 0.4em;
}

.header {
  position: relative;
  z-index: 10;
}
.header__top {
  position: relative;
  z-index: 20;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
}
.header .menu-item {
  display: inline-block;
  margin-right: 1.5rem;
}
.header .menu-item a {
  color: #1b5e20;
  text-decoration: none;
}
.header .menu-item a:hover {
  color: white;
}

.app {
  background: rgba(128, 128, 128, 0.3);
}

.main-layout {
  max-width: calc(1170px + 2rem);
  margin: 0 auto;
  position: relative;
  z-index: 15;
}
.main-layout .tabs, .main-layout .primary {
  display: inline-flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-layout .tabs li, .main-layout .primary li {
  border: 1px solid cadetblue;
  padding: 0.5rem;
  border-radius: 15px;
}
.main-layout__inner {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding: 1rem;
  background: white;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.05);
  margin-top: -100px;
}
.main-layout--sidebar .region-content {
  flex: 0 0 75%;
}
.main-layout--sidebar .region-content img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main-layout--sidebar .region-sidebar {
  flex: 1;
}
.main-layout--sidebar .region-sidebar img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.media-remote-video__field-media-oembed-video {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.4%;
}
.media-remote-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.node-page-full__field-paragraphs .field__item {
  margin-bottom: 2rem;
}

.node-blog-article-full__field-paragraphs {
  margin-bottom: 1rem;
}
.node-blog-article-full .previous-next {
  margin-bottom: 1rem;
}
.node-blog-article-full__field-attachments {
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 1rem;
  background: rgba(128, 128, 128, 0.2);
  margin-bottom: 2rem;
  border-top: 1px solid rgba(128, 128, 128, 0.4);
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}
.node-blog-article-full__field-attachments .field__label {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.node-blog-article-full__field-attachments .field__items {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.node-blog-article-teaser__field-promo-image {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.node-blog-article-teaser__title {
  margin-bottom: 0.5rem;
}
.node-blog-article-teaser__title a {
  color: black;
  margin: 0 0 0.5rem;
}
.node-blog-article-teaser__title a:hover {
  color: #FF5300;
}
.node-blog-article-teaser__field-tags {
  margin-bottom: 1rem;
  font-size: 14px;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}
.node-blog-article-teaser__field-tags .field__item a {
  display: block;
  background: #0a6eb4;
  color: white;
  border-radius: 2px;
  padding: 2px 6px;
}
.node-blog-article-teaser__meta {
  font-size: 14px;
  color: rgba(128, 128, 128, 0.6);
  display: flex;
  gap: 1rem;
}
.node-blog-article-teaser__created {
  display: flex;
  align-items: center;
  text-align: center;
}
.node-blog-article-teaser__created::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  width: 14px;
  height: 14px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/55/55281.png");
  background-size: cover;
  color: #7B7B78;
  margin-right: 5px;
}
.node-blog-article-teaser__estimated-read-time {
  display: flex;
  align-items: center;
  text-align: center;
}
.node-blog-article-teaser__estimated-read-time::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  width: 14px;
  height: 14px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/0/183.png");
  background-size: cover;
  color: #7B7B78;
  margin-right: 5px;
}

/**
 * @file
 * Styles for ParagraphStyleBehavior
 */
.paragraph-style--title-bold .paragraph-title {
  font-weight: bold;
}
.paragraph-style--title-centered .paragraph-title {
  text-align: center;
}
.paragraph-style--style-black {
  background: black;
  opacity: 0.7;
  color: white;
  padding: 1rem;
}

.paragraph--type--code {
  border: 1px solid gray;
  border-radius: 4px;
  overflow: hidden;
}

.paragraph-code__field-title {
  background: rgba(128, 128, 128, 0.6901960784);
  color: black;
  padding: 0.3rem 1rem;
  font-weight: bold;
}

.paragraph-gallery--images-per-row-2 .field__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.paragraph-gallery--images-per-row-3 .field__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.paragraph-gallery--images-per-row-4 .field__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.paragraph-gallery .field__item {
  margin-bottom: 0;
}

.paragraph-remote-video--video-width-720px .media-remote-video__field-media-oembed-video {
  max-width: 720px;
  display: flex;
  margin: 0 auto;
}

.paragraph-remote-video-gallery--videos-per-row-4 .field__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.paragraph-remote-video-gallery--videos-per-row-3 .field__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.paragraph-remote-video-gallery--videos-per-row-2 .field__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.paragraph-remote-video-gallery .field__item {
  margin-bottom: 0;
}

.paragraph-text-and-image {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}
.paragraph-text-and-image__field-title {
  flex: 0 0 100%;
  width: 100%;
}
.paragraph-text-and-image--image-size-4-12-left .paragraph-text-and-image__field-image {
  flex: 0 0 33%;
}
.paragraph-text-and-image--image-size-4-12-left .paragraph-text-and-image__field-body {
  flex: 1;
}
.paragraph-text-and-image--image-size-6-12-left .paragraph-text-and-image__field-image {
  flex: 0 0 50%;
}
.paragraph-text-and-image--image-size-6-12-left .paragraph-text-and-image__field-body {
  flex: 1;
}
.paragraph-text-and-image--image-size-8-12-left .paragraph-text-and-image__field-image {
  flex: 0 0 66%;
}
.paragraph-text-and-image--image-size-8-12-left .paragraph-text-and-image__field-body {
  flex: 1;
}
.paragraph-text-and-image--image-size-4-12-right > div:nth-child(2) {
  order: 3;
}
.paragraph-text-and-image--image-size-4-12-right > div:nth-child(3) {
  order: 2;
}
.paragraph-text-and-image--image-size-4-12-right .paragraph-text-and-image__field-image {
  flex: 0 0 34%;
}
.paragraph-text-and-image--image-size-4-12-right .paragraph-text-and-image__field-body {
  flex: 1;
}
.paragraph-text-and-image--image-size-6-12-right > div:nth-child(2) {
  order: 3;
}
.paragraph-text-and-image--image-size-6-12-right > div:nth-child(3) {
  order: 2;
}
.paragraph-text-and-image--image-size-6-12-right .paragraph-text-and-image__field-image {
  flex: 0 0 50%;
}
.paragraph-text-and-image--image-size-6-12-right .paragraph-text-and-image__field-body {
  flex: 1;
}
.paragraph-text-and-image--image-size-8-12-right > div:nth-child(2) {
  order: 3;
}
.paragraph-text-and-image--image-size-8-12-right > div:nth-child(3) {
  order: 2;
}
.paragraph-text-and-image--image-size-8-12-right .paragraph-text-and-image__field-image {
  flex: 0 0 66%;
}
.paragraph-text-and-image--image-size-8-12-right .paragraph-text-and-image__field-body {
  flex: 1;
}

.previous-next {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
  min-height: 7rem;
}
.previous-next__previous, .previous-next__next {
  width: 47%;
}

.previous-next--blog-article .previous-next__previous, .previous-next--blog-article .previous-next__next {
  border-radius: 8px;
  overflow: hidden;
}
.previous-next--blog-article .previous-next__link {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 1rem;
  color: white;
  position: relative;
  background: rgba(128, 128, 128, 0.4);
}
.previous-next--blog-article .previous-next__promo-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  z-index: 0;
}
.previous-next--blog-article .previous-next__promo-image:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}
.previous-next--blog-article .previous-next__icon {
  position: relative;
  z-index: 10;
}
.previous-next--blog-article .previous-next__icon-previous:before {
  display: block;
  color: yellow;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/959/959262.png");
  background-size: cover;
  margin-right: 1rem;
}
.previous-next--blog-article .previous-next__icon-next:after {
  display: block;
  color: yellow;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("https://cdn-icons-png.flaticon.com/512/222/222330.png");
  background-size: cover;
  margin-left: 1rem;
}
.previous-next--blog-article .previous-next__content {
  position: relative;
  z-index: 10;
}
.previous-next--blog-article .previous-next__content--next {
  width: 100%;
  text-align: right;
}
.previous-next--blog-article .previous-next__tag {
  color: yellow;
  font-weight: bold;
}
.previous-next--blog-article .previous-next__tag:not(:last-child)::after {
  content: ",";
  display: inline;
}

.klog-label-with-icon-media-formatter {
  display: flex;
  align-items: center;
}
.klog-label-with-icon-media-formatter__icon {
  margin-right: 1rem;
  flex: 0 0 4rem;
  width: 4rem;
}
.klog-label-with-icon-media-formatter__icon img {
  width: 100%;
}
.klog-label-with-icon-media-formatter__label {
  color: black;
  font-weight: bold;
}
.klog-label-with-icon-media-formatter__filesize {
  color: #7B7B78;
  font-size: 14px;
}

.view-blog-articles-page .view-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}