.view-blog-articles-page {
  .view-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}

.view-blog-articles-frontpage-articles {
  .view-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
}
