.frontpage {
  margin-top: -36px;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    max-width: $container-max;
    margin: 0 auto;
  }

  &__welcome {
    padding-top: 36px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      z-index: 3;
      @include scaleImage;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(15, 155, 15, 0.15));
    }
  }

  &__welcome-video {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__welcome-inner {
    position: relative;
    z-index: 5;
    padding: 7rem 0;
  }

  &__welcome-title {
    color: white;
    margin: 0;
    text-shadow: 0 1px 4px rgba(black, 0.2);
  }

  &__welcome-description {
    color: white;
    font-size: 24px;
    margin-bottom: 2rem;
    max-width: calc($container-max/2);
    text-shadow: 1px 1px 0 rgba(black, 0.1);
  }

  &__search {
    display: flex;
  }

  &__search-input {
    padding: 1rem;
    border-radius: 1rem;
    width: 100%;
  }

  &__search-submit {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(15, 155, 15, 0.15));
    border-radius: 1rem;
    padding: 0 1rem;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      border-color: #1b5e20;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(15, 155, 15, 0.2));
    }
  }

  &__author {
    padding: 36px 0;
    position: relative;
    background: white;
  }

  &__author-inner {
    position: relative;
    z-index: 5;
  }

  &__author-avatar {
    display: table;
    margin: 0 auto 1rem;
    border-radius: 50%;
    border: 10px solid rgba(gray, 0.3);

  }

  &__author-hello {
    text-align: center;
    color: rgba(gray, 0.6);
    font-weight: bold;
  }

  &__author-name {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 1rem;
  }

  &__author-about {
    max-width: calc($container-max/2);
    text-align: center;
    color: rgba(gray, 0.6);
    margin: 0 auto;
    padding-bottom: 1rem;

  }

  &__author-more {
    display: table;
    margin: 0 auto;
    color: rgba(gray, 0.6);

    &:hover {
      color: #0a6eb4;
    }
  }

  &__articles {
    background: white;
    padding: 3rem 0;
  }

  &__articles-title {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 1rem;
  }

  &__articles-more {
    display: table;
    margin: 1rem auto 0 auto;
    color: rgba(gray, 0.6);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(15, 155, 15, 0.15));
    border-radius: 1rem;
    padding: 1rem 3rem;

    &:hover {
      color: #0a6eb4;
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(15, 155, 15, 0.2));
    }
  }

}
