{% set bem_block = 'footer' %}
<footer class="{{ bem_block }}">
  <div class="{{ bem_block }}__content">

    {{ drupal_block('system_menu_block:footer')}}

    <a href="#" class="{{ bem_block }}__up">Up</a>

  </div>
</footer>
