@import "../../base/variables";
@import "../../base/mixins";

.footer {
  background: rgba(#bdc3c7, 0.8);
  position: relative;
  z-index: 20;

  &__content {
    max-width: $container-max;
    margin: 0 auto;
  }

  .menu--footer {
    padding: 1rem;

    .menu {
      display: flex;
      justify-content: center;

      &-item {
        display: inline-flex;
        margin-right: 2rem;

        a{
          text-transform: uppercase;
          font-weight: bold;
          color: black;
          opacity: 80%;
          font-size: 1rem;

          &:hover {
            color: #1b5e20;
          }
        }
      }
    }
  }

  &__up {
    display: flex;
    justify-content: center;
    margin: 0 auto;

    &:before {
      content: "\F368";
      font-size: 1.5rem;
      line-height: 1.5rem;
      font-weight: normal;
      display: inline-block;
      text-decoration: inherit;
      margin-right: 0.4em;
    }
  }
}
