.node-blog-article-full {
  &__field-paragraphs {
    margin-bottom: 1rem;
  }

  .previous-next {
    margin-bottom: 1rem;
  }

  &__field-attachments {
    margin-left: -1rem;
    margin-right: -1rem;
    padding: 1rem;
    background: rgba(gray, 0.2);
    margin-bottom: 2rem;
    border-top: 1px solid rgba(gray, 0.4);
    border-bottom: 1px solid rgba(gray, 0.4);

    .field__label {
      color: black;
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    .field__items {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }

}
